{% extends "main.twig" %}

{% block title %}Раздел администратора{% endblock %}

{% block content %}

<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-md-9">
				<h1>Раздел администратора {{session.admin_name}}</h1>

					{% if errors is not empty %}
            <ul>
              {% for error in errors %}
                <li> <font color=red>{{error}}</font> </li>
              {% endfor %}
            </ul>
					{% endif %}
						<strong>Список задач:</strong>
						<ul>
							<li>
								Для админов
								<ul>
									<li>
										Список всех админов
									</li>
									<li>
										Создание новых админов
									</li>
									<li>
										Изменение паролей админов
									</li>
									<li>
										Удаление админов
									</li>
								</ul>
							</li>

							<li>
								Для категорий
								<ul>
									<li>
										Список всех категорий
									</li>
									<li>
										Вывод для каждой кол-ва вопросов в ней, сколько из них опубликовано и сколько без ответов
									</li>
									<li>
										Создание новых категорий
									</li>
									<li>
										Удаление категорий и всех вопросов в них
									</li>
								</ul>
							</li>

							<li>
								Для вопросов
								<ul>
									<li>
										Список всех вопросов по категориям с датами и статусами
									</li>
									<li>
										Удаление вопросов из категории
									</li>
									<li>
										Скрытие опубликованных вопросов
									</li>
									<li>
										Публикация скрытых вопросов
									</li>
									<li>
										Редактирование автора и тексты вопросов и ответов
									</li>
									<li>
										Перемещение вопроса из одной категории в другую
									</li>
									<li>
										Добавление ответов с публикацией либо с сокрытием
									</li>
									<li>
										Вывод всех вопросов без ответов во всех темах по id / дате добавления и возможность их удаления
									</li>
								</ul>
							</li>

						</ul>
			</div>

		</div>
	</div>
</div>

{% endblock content %}