{% block header %}
{% include 'header.twig' %}
{% endblock header %}

<title>
		{% block title %}
			Дипломная работа
		{% endblock %}
</title>
</head>
<body>

<div id="content">
		{% block header_navbar %}
			{% include 'header_navbar.twig' %}
		{% endblock header_navbar %}

  {% block content %}
		some content

  {% endblock content %}
</div>

{% block footer %}
	{% include 'footer.twig' %}
{% endblock footer %}
